*{margin:0; padding:0; box-sizing:border-box; }
body{min-height:100vh; display:flex; flex-direction:column; color:#3a3a3a; background-color:#fafafa;  }
h1, h2, h3{text-transform:uppercase; letter-spacing:2px; color:#252525}
.hidden-heading{display:none}
header{background-color:#9995db ; padding: 0 1rem; position:fixed; z-index:99 ; width:100%; box-shadow:0 2px 2px #3a3a3a; display:flex; justify-content:space-between; align-items:baseline; }
header a{text-decoration:none; color:inherit; }



#menu{list-style:none; letter-spacing:4px; font-size:110%}
#menu > li{margin-bottom:1em;}
.active{border-bottom:1px solid #3a3a3a}
nav{position:absolute; background-color: #9995db; width:100%; box-shadow:0 2px 2px #3a3a3a ;padding: 0 1rem; left:0 ; display:none; top:100%}
#nav-toggle:checked~ nav{display:block}
#nav-toggle{display:none; }
#nav-toggle-label{font-size:2rem; }


main{ flex: 1 0 auto; margin-top: 30px}
#hero{height:600px; width:100%; background:url('../images/hero.jpg') no-repeat center center/cover; position:relative; }
#cover-text{background-color:#d7db95; font-size:130% ; position:absolute; bottom:30px ; width:80%; min-height:200px; padding-top:40px; padding-left:10px; box-shadow:0 2px 2px #3a3a3a; }
#cover-text > h2, #cover-text > p{color:#252525 ; }

#reasons{ padding:20px 10px; display:flex; flex-wrap:wrap; justify-content:space-around}
#positive-benefits{ display:flex; flex-wrap:wrap;} 
#positive-benefits div{color:#252525; background-color:#9995db; padding:15px; text-align:center; flex-basis:200px; flex-grow:1; border:2px solid #fafafa }
#positive-benefits h3{color:#252525}

#call{text-align:center; }
#why{text-align:center; }
#stitches-btn, #patterns-btn{background-color:#9995db;text-align:center; color:#252525;}

#click{display:flex; justify-content:center; padding:2em; gap:20px; }

footer{background-color:#d7db95; flex-basis: 0; align-items:center;  }

/*patterns page*/
#pattern-title{padding:20px 10px; text-align:center; background-color:#d7db95; }
#patterns{ padding:20px 10px; display:flex; flex-wrap:wrap; justify-content:space-around; height:100vh; }
#pattern-boxes{ display:flex; flex-wrap:wrap;} 
#pattern-boxes div{color:#252525; background-color:#9995db; padding:15px; text-align:center; flex-basis:200px; flex-grow:1; border:2px solid #fafafa; }
#pattern-boxes h3{color:#252525}

img{flex-basis:200px; flex-wrap:wrap; }
/*cable pattern*/
#basic-cable{
    background-image: url('../images/cable.jpg');
    background-size: cover;
    background-position: center;}
/*embossed slip stitch pattern*/
#embossed-slip-stitch{
    background-image: url('../images/ph2.jpg');
    background-size: cover;
    background-position: center;}
/*double moss stitch pattern*/
#double-moss-stitch{
    background-image: url('../images/ph3.avif');
    background-size: cover;
    background-position: center;}
/*basket stitch pattern*/
#basket-stitch{
    background-image: url('../images/ph4.jpg');
    background-size: cover;
    background-position: center;}
/*cable and rib pattern*/
#cable-and-rib{
    background-image: url('../images/ph.png');
    background-size: cover;
    background-position: center;}
/*platted cable stitch pattern*/
#platted-cable-stitch{
    background-image: url('../images/ph2.jpg');
    background-size: cover;
    background-position: center;}
/*girls wing pattern*/
#girls-wing-pattern{
    background-image: url('../images/ph4.jpg');
    background-size: cover;
    background-position: center;}
/*rib pattern*/
#basic-rib{
    background-image: url('../images/rib.jpg');
    background-size: cover;
    background-position: center;}


    .pattern-box h3{background-color:#d7db95}

 /*patterns instruction pages*/
#pattern-title{padding:20px 10px; text-align:center; background-color:#d7db95; }

#materials{  padding:25px; flex-basis:200px; flex-grow:1;  }
#materials-list{list-style:none; }

#starter-rows{ padding:25px; flex-basis:200px; flex-grow:1;  }
#starter-rows-list{list-style:none; }

#instructions{ background-color:#9995db; padding:25px; flex-basis:200px; flex-grow:1;  }
#instructions-list{list-style:none; }

#finished{  padding:25px; flex-basis:200px; flex-grow:1;  }
#finished p{padding:5px; }

#next-pattern-btn{background-color:#9995db;}

#rib-image{background-image: url('../images/rib.jpg'); background-size: cover; background-position: center; height:400px; width:100%; }
#cable-image{background-image: url('../images/cable.jpg'); background-size:cover; background-position: center; height: 400px; width:100%; }

#pattern-section{display:flex; flex-direction:column; }

#image-section{order:2;}
#text-section{order:1; }

/*media query for larger screens*/

@media (min-width: 768px) {
    #pattern-section{flex-direction:row; }
     #image-section{flex-grow:2; height:800px; }
      #finished{text-align:center; }

      /*pattern images*/
     #rib-image{background-image: url('../images/rib.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #cable-image{background-image: url('../images/cable.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #basket-image{background-image: url('../images/basket.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #double-moss-image{background-image: url('../images/double-moss.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #girls-wing-image{background-image: url('../images/girls-wing.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #embossed-slip-stitch-image{background-image: url('../images/embossed-slip-stitch.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #platted-cable-stitch-image{background-image: url('../images/platted-cable-stitch.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
     #cable-and-rib-image{background-image: url('../images/cable-and-rib.jpg') ; height:80%; width:100%; background-repeat:no-repeat; background-size:contain; background-position:center; }
}
    
